@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.light {
  --mainColor: orangered;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
  --lightThree: #000;
  --lightFour: #0c0c0c;


}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", system-ui, sans-serif;

}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  padding: 1rem 0 0;
  width: 100%;
  min-height: 100vh;
  overflow: clip;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.18);
  border-bottom: #000;
  background-color: var(--backgroundColor);
}

header {
  position: relative;
  z-index: 70;
  position: sticky;
  top: 0;
  box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.10);

}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 40px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.logo h3 {
  color: var(--lightThree);
  font-size: 1.60rem;
  line-height: 1.2;
  font-weight: 700;
}

.logo span {
  color: orangered;
}

.translate {
  display: none;
}

.trans-btn {
  border: none;
  outline: none;
  font-size: 17px;
  /* font-weight: 600; */
  background: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}

.links ul {
  display: flex;
  list-style: none;
  /* align-items: center; */
  font-weight: 500;
}

.links a {
  color: var(--lightTwo);
  margin-left: 2.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color: var(--mainColor);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--hoverColor);
  transform: scale(1) !important;
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title {
  font-size: 1.5rem;
  color: var(--darkOne);
  text-transform: capitalize;
  line-height: 1.7;
}

.title2 {
  color: var(--darkOne);
  line-height: 1.7;
  text-align: center;
  margin-top: 30px;
}

.section2 {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  z-index: 10;
}

.text {
  color: var(--lightOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.text2 {
  color: var(--lightOne);
  font-size: 1rem;
  margin: 1.9rem 0 2.5rem;
  /* max-width: 600px; */
  line-height: 1.8;
  text-align: justify;
}

.pmsimg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: 0.5rem;
  border: var(--lightThree) solid 2px;
  padding: 5px;
}

.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  width: 65%;
  transform: translate(25%, 25px);
  border-radius: 10%;
  border: var(--lightThree) solid 2px;
  padding: 4px;
  border-bottom: none;
}

figcaption {
  padding-top: 20px;
  text-align: center;
  font-size: small;
  font-weight: 600;
  color: var(--lightThree);
}


.footer {
  text-align: center;
  font-size: 14px;
  color: var(--lightOne);
  max-height: 220px;
  /* border-top: 1px solid rgb(186, 185, 185); */
  /* background-color: #97969b; */
}

.footer-content {
  position: relative;
  /* background-color: #e77d0c; */
  height: 150px;
}

.footer-section {
  /* background-color: rgb(239, 234, 244); */
  height: 105px;
  color: #000;
}

.footer-address p {
  font-size: 15px;
  font-weight: 500;
  /* margin-bottom: 10px; */
  color: var(--darkOne);

}

.footer-address .title3 {
  color: var(--darkOne);
  text-align: center;
  margin: 8px 0 5px;
  font-size: 18px;
}

.footer-section .social-links {
  margin-bottom: 10px;
  padding: 10px;
  height: 80px;
  position: relative;
  bottom: 5px;
}

.footer-section .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--lightTwo);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #0e0d0d;
  transition: all 0.5s ease;
  font-size: 18px;
}

.footer-section .social-links a:hover {
  color: #fafbfe;
  background-color: var(--mainColor);
}

.footer .copyright {
  position: relative;
  color: var(--lightFour);
  bottom: 10px;
  top: 10px;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  padding: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
  border-bottom: #000;
  background-color: var(--backgroundColor);
}

.copyright a {
  color: var(--lightThree);
  display: inline-block;
  transition: 0.3s;
  font-weight: 500;
}

@media screen and (max-width: 870px) {
  .hamburger-menu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 55px;
    right: 0;
    max-width: 450px;
    width: 50%;
    height: 40%;
    background-color: var(--mainColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
    border-radius: 10px;
  }

  .trans-btn {
    margin-bottom: 10px;
  }

  .links ul {
    flex-direction: column;
    font-size: 16px;
  }

  .links a {
    color: #fff;
    margin-left: 0;
    padding: 10px 0;
  }

  .links .btn {
    background: none;
  }



  .big-wrapper.active .links {
    transform: translateX(-8px);
    /* box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4); */
  }

  .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .pmsimg {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 0.5rem;
  }

  .big-title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .scrollTop {
    right: 10%;
    bottom: 12%;

  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}

/* =============== Gallery ====================== */
h1 {
  text-align: center;
  margin-top: 50px;
}

/* Masonry image gallery styling */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .images {
  gap: 15px;
  max-width: 85%;
  margin: 40px 0;
  columns: 4 310px;
  list-style: none;
}

.gallery .images .img {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  border-radius: 4px;
}

.gallery .images img {
  width: 100%;
  /* transition: transform 0.2s ease; */
}

.gallery .images .img:hover img {
  transform: scale(1.1);
}

/* Image lightbox styling */
.lightbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.65);
}

.lightbox.show {
  visibility: visible;
}

.lightbox .wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background: #fff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 0.1s ease;
}

.lightbox.show .wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.wrapper :where(header, .details) {
  display: flex;
  align-items: center;
}

.wrapper header {
  justify-content: space-between;
}

header .details i {
  font-size: 1.7rem;
}

header .details span {
  font-size: 1.2rem;
  margin-left: 10px;
}

header .buttons i {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  background: #6C757D;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s ease;
}

header .buttons i:hover {
  background: #5f666d;
}

.wrapper .preview-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.preview-img .img {
  max-height: 65vh;
}

.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 688px) {
  .lightbox .wrapper {
    padding: 12px;
    max-width: calc(100% - 26px);
  }

  .wrapper .preview-img {
    margin-top: 15px;
  }

  .gallery .images {
    max-width: 100%;
    padding: 0 13px;
    margin-top: 20px;
  }
}